h2{
    color: #0f0f0f;
}
div.file-block {
    height: 120px;
    font-size: 60px;
    margin: 15px;
    padding-top: 10px;
    text-align: center;
}

div.file-block:hover{
    background-color: rgba(133, 157, 152, 0.21);
}

div.folder-name {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 640px){
    div.file-block {
        height: 100px;
        font-size: 80px;
        margin: 15px;
        padding-top: 10px;
        text-align: left;
    }

    span {
        display: inline;
    }

    div.folder-name {
        font-size: 20px;
        display: inline;
        text-align: left;
        position: absolute;
    }
}
